<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<div class="logo">
            <a href="/"><img src="/images/trr.png" width="30%"></a>
        </div>
	<body>
		 <form th:action="@{/addRecensione}" method="POST" th:object="${recensione}">
			<div class="error-message" th:if="${messaggioErrore}">
			      <span th:text="${messaggioErrore}">Errore</span>
			                </div>
						
									
			               <div>
			                    <label for="title">Titolo:</label>
			                    <input required type="text" id="name" th:field="${recensione.titolo}">
			  
							 </div>
							 <div>
								Descrizione:
			               <textarea for="description" th:field="${recensione.testo}">
							
						   </textarea>
						   </div>
			                <div>
			                    <button type="submit">Conferma</button>
			                </div>
							
			</form>
			
	</body>
</html>




