<!DOCTYPE html>
<html>

  <head>
    <title>Giochi</title>
    <link rel="stylesheet" href="/stile.css?version=2" />
  </head>

  <body>
    <div><a href="/success"><img src="/images/trr.png" width="20%"/></a></div>
    <h1>Giochi</h1>
    
    <div th:if="${giochi.isEmpty()}">Non ci sono giochi nel sistema</div>
    <ul>
      <li th:each="gioco : ${giochi}">
        <a th:href="@{'/gioco' + '/' + ${gioco.id}}"
           th:text="${gioco.title} + ' (' + ${gioco.year} + ')'">Up! (2000)</a>
      </li>
    </ul>
  </body>

</html>
