<!DOCTYPE html>
<html>

<head>
    <title>Top Reviews - Homepage</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div><img src="/images/trr.png" width="40%" /></div>
        
        <h1>Pagina Iniziale</h1>
        <div>
            <a href="/giochi">Giochi</a>
        </div>
        <div>
            <a href="/recensioni">Recensioni</a>
        </div>
        <div>
            <a href="/login">Login</a>
        </div>
        <div>
            <a href="/SceltaRegistrazione">Registrati</a>
        </div>
    </div>
</body>

</html>
